
gridster {
  display: flex;
  height: calc(100vh - 115px);
  flex-direction: column;
}


.agent-table {
  border-collapse: collapse;
  width: 100%;
  tr {
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
    }
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

tr {
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
  }
}

.summary-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .item {
    width: 45%;
  }

  .all-calls {

  }
}

.red-bg{
  background-color: red;
}

.blu-bg {
  background-color: blue;
}
