<div>
  <h1>
    Dashboard
  </h1>
  <button (click)="connect()">Connect</button>
  <button (click)="disconnect()">Disconnect</button>
</div>
<gridster [options]="options">
  <gridster-item [item]="agentWidget">
  <h2>Agent Widget</h2>
    <div>
      <table class="agent-table">
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Status</th>
          <th>Time in status</th>
          <th>Time logged in</th>
          <th>Total Calls</th>
          <th>Effective calls</th>
        </tr>
        <tr *ngFor="let item of agents | keyvalue">
          <td>{{item.value.name}}</td>
          <td>{{item.value.phone}}</td>
          <td>{{item.value.status}}</td>
          <td>{{item.value.inStatusTime}} sec</td>
          <td>{{item.value.loggedInTime}} sec</td>
          <td>{{item.value.totalCalls}}</td>
          <td>{{item.value.effectiveCalls}}</td>
        </tr>
      </table>
    </div>
  </gridster-item>
  <gridster-item [item]="callWidget">
    <div class="summary-info-container">
      <div class="all-calls item">
        <h1>Total amount of calls: {{ totalCallsSize }}</h1>
      </div>
      <div class="completed item">
        <h1>Completed calls: {{ completedCallsSize }}</h1>
      </div>
    </div>

    <h2>Call Widget</h2>
    <div>
      <table>
      <tr>
        <th>Type</th>
        <th>Status</th>
        <th>Caller Number</th>
        <th>Calling Number</th>
        <th>Time in Status</th>
      </tr>
      <tr *ngFor="let call of waitingCalls | keyvalue" class="red-bg">
        <td>{{call.value.type}}</td>
        <td>{{call.value.status}}</td>
        <td>{{call.value.callerNumber}}</td>
        <td>{{call.value.callingNumber}}</td>
        <td>{{call.value | timePastPipe}}</td>
      </tr>
      <tr *ngFor="let call of activeCalls | keyvalue" class="blu-bg">
        <td>{{call.value.type}}</td>
        <td>{{call.value.status}}</td>
        <td>{{call.value.callerNumber}}</td>
        <td>{{call.value.callingNumber}}</td>
        <td>{{call.value | timePastPipe}}</td>
      </tr>
    </table>
    </div>
  </gridster-item>
</gridster>
